.right-sidebar {
  width: 450px;
  background-color: #161617;
  border-left: 1px solid #FF394A;
  height: 100%;
}

.chat-window {
  display: flex;
  flex-direction: column;
  background-color: #161617;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 0;
  margin-right: 20px;
  max-width: 600px;
  width: 100%;
  height: calc(100vh - 80px);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #000000;
  border-bottom: 1px solid #FF394A;
  margin-top: 0;
}

.chat-header h1 {
  margin: 0;
  font-size: 1rem;
  color: #F5F5F9;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  background-color: #161617;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.message {
  max-width: 600px;
  margin: 6px auto;
  padding: 8px;
  border-radius: 12px;
  word-wrap: break-word;
  font-size: 0.9rem;
}

.bot {
  background-color: #000000;
  color: #F5F5F9;
  margin-right: auto;
  border: 1px solid #FF394A;
}

.user {
  background-color: #FF394A;
  color: #F5F5F9;
  margin-left: auto;
}

.input-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #000000;
  border-top: 1px solid #FF394A;
}

.input-container input {
  flex: 1;
  padding: 8px 15px;
  background-color: #161617;
  color: #F5F5F9;
  border: 1px solid #FF394A;
  border-radius: 15px;
  font-size: 0.9rem;
}

.input-container input::placeholder {
  color: #F5F5F9;
  opacity: 0.7;
}

.input-container button {
  padding: 8px 15px;
  background-color: #FF394A;
  color: #F5F5F9;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.9rem;
}

.input-container button:hover {
  background-color: #cc2e3b;
}
